<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/dashboardhead"></head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Plaza Inn Hotels</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Kokpit Administratora <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Zarządzanie hotelami</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                </div>
                <button type="submit" id="showFormBtn" class="btn btn-primary">Nowy hotel</button>
            </div>

            <div class="row justify-content-around">
                <div class="col-sm-4">

                    <form id="newHotelForm" th:action="@{/auth/admin/hotels}"
                          th:object="${hotel}" method="post" style="visibility: hidden;">
                        <h3>Dodawanie nowego hotelu</h3>
                        <div class="form-group">
                            <label for="hotelName">Nazwa nowego hotelu</label>
                            <input th:field="*{name}" type="text" class="form-control" id="hotelName" aria-describedby="nameError">
                            <small th:errors="*{name}" id="nameError" class="form-text form-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="hotelStreet">Adres: ulica</label>
                            <input th:field="*{street}" type="text" class="form-control" id="hotelStreet">
                            <small th:if="*{street}" th:errors="*{street}" class="form-text form-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="hotelNumber">Adres: numer</label>
                            <input th:field="*{number}" type="text" class="form-control" id="hotelNumber">
                            <small th:if="*{number}" th:errors="*{number}" class="form-text form-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="hotelCity">Adres: miejscowość</label>
                            <input th:field="*{city}" type="text" class="form-control" id="hotelCity">
                            <small th:if="*{city}" th:errors="*{city}" class="form-text form-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="hotelPostCode">Adres: kod pocztowy</label>
                            <input th:field="*{postCode}" type="text" class="form-control" id="hotelPostCode">
                            <small th:if="*{postCode}" th:errors="*{postCode}" class="form-text form-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="hotelPhoneNumber">Numer telefonu</label>
                            <input th:field="*{phoneNumber}" type="text" class="form-control" id="hotelPhoneNumber">
                            <small th:if="*{phoneNumber}" th:errors="*{phoneNumber}" class="form-text form-muted text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="hotelEmailAddress">Adres email</label>
                            <input th:field="*{emailAddress}" type="text" class="form-control" id="hotelEmailAddress">
                            <small th:if="*{emailAddress}" th:errors="*{emailAddress}" class="form-text form-muted text-danger"></small>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                            <button type="reset" class="btn btn-outline-primary">Wyczyść</button>
                        </div>
                    </form>

                </div>
                <div class="col-sm-4">




                </div>
            </div>

            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

            <h2>Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>



    </div>
</div>
<script>
    let showFormBtn = document.getElementById("showFormBtn");
    let newHotelForm = document.getElementById('newHotelForm');

    showFormBtn.addEventListener("click", function() {
        newHotelForm.style.visibility = "visible";
    });
</script>
<footer th:replace="fragments/footer"></footer>
</body>
</html>