<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/dashboardhead"></head>

<body>
<nav th:replace="fragments/adminnavbar"></nav>
<div class="container-fluid">
    <div class="row">

        <nav th:replace="fragments/adminsidebar"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Witaj Administratorze!</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                </div>

            </div>

            <div id="messages" class="row justify-content-around">
                <div class="col d-flex align-items-center">

                </div>
            </div>


            <div class="table-responsive">

            </div>

            <div class="row justify-content-around mt-md-5">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">

                </div>
            </div>
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </main>
    </div>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>