<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/dashboardhead"></head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">Plaza Inn Hotels</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">

        <nav th:replace="fragments/adminsidebar"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Zarządzanie gośćmi</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                </div>

            </div>

            <div id="messages" class="row justify-content-around">
                <div class="col d-flex align-items-center">

                </div>
            </div>

            <h4>Zestawienie gości</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>

                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <div class="row justify-content-around mt-md-5">
                <div class="col-sm-3" style="background-color: lightslategrey">

                    <h3>Room name</h3>
                    <p>Text</p>
                    <ul>
                        <li>Feature-1</li>
                        <li>Feature-2</li>
                        <li>Feature-3</li>
                        <li>Feature-4</li>
                    </ul>
                    <p>No of guests</p>
                    <p>Rate net</p>
                    <p>Tax</p>
                    <p>Rate gross</p>
                </div>

                <div class="col-sm-3" style="background-color: lightslategrey">
                    <h2>Col2</h2>
                    <div class="row justify-content-end">

                    </div>
                </div>
                <div class="col-sm-3" style="background-color: lightslategrey">
                    <h2>Col3</h2>

                </div>
            </div>
            <div class="row justify-content-around mt-md-5">
                <div class="col-sm-3">
                    <h4>Dodaj nowy typ pokoju</h4>
                    <form id="newRoomTypeForm" method="post"
                          th:object="${roomType}" th:action="@{/auth/admin/roomtypes}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Nazwa pokoju</label>
                            <input th:field="*{name}" type="text" id="name" class="form-control" aria-describedby="nameError">
                        </div>
                        <div class="form-group">
                            <label for="noPersons">Liczba gości</label>
                            <input th:field="*{noPersons}" type="number" id="noPersons" class="form-control" aria-describedby="noPersonsError">
                        </div>
                        <div class="form-group">
                            <label for="rateNet">Cena netto za noc</label>
                            <input th:field="*{rateNet}" type="number" id="rateNet" class="form-control" aria-describedby="rateNetError">
                        </div>
                        <div class="form-group">
                            <label for="tax">Stawka VAT</label>
                            <input th:field="*{tax}" type="number" id="tax" class="form-control" aria-describedby="taxError">
                        </div>
                        <div class="form-group">
                            <label for="description">Opis</label>
                            <textarea th:field="*{description}" id="description" class="form-control" aria-describedby="descriptionError">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="feature1">Info-1</label>
                            <input th:field="*{feature1}" type="text" id="feature1" class="form-control" aria-describedby="feature1Error">
                        </div>
                        <div class="form-group">
                            <label for="feature2">Info-2</label>
                            <input th:field="*{feature2}" type="text" id="feature2" class="form-control" aria-describedby="feature2Error">
                        </div>
                        <div class="form-group">
                            <label for="feature3">Info-3</label>
                            <input th:field="*{feature3}" type="text" id="feature3" class="form-control" aria-describedby="feature3Error">
                        </div>
                        <div class="form-group">
                            <label for="feature4">Info-4</label>
                            <input th:field="*{feature4}" type="text" id="feature4" class="form-control" aria-describedby="feature4Error">
                        </div>
                        <div class="form-group">
                            <label for="image">Zdjęcie</label>
                            <input th:field="*{image}" type="file" id="image" class="form-control-file" aria-describedby="imageError">
                        </div>
                        <button type="submit" class="btn btn-primary" id="uploadPhotoBtn">Dodaj</button>
                    </form>
                </div>
                <div class="col-sm-3">
                    <h3>Uplod photo</h3>
                </div>
                <div class="col-sm-3">
                    <h3>Upload photo</h3>
                </div>
            </div>
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </main>
    </div>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>