<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/navbar"></nav>

<section id="roomSelection">
        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-sm-12">
                    <div class="alert alert-dark">
                        <h3 class="text-center">Czas wybrać Twój pokój...</h3>
                        <h5 class="font-weight-lighter text-center" th:text="'Przyjazd: ' + ${reservationDto.checkInDate} + ', Wyjazd: ' + ${reservationDto.checkOutDate} + ', Lokalizacja: ' + ${reservationDto.hotelName}"></h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="" id="image0" class="card-img-top" alt="Card image cap"/>
                        <div class="card-body">
                            <h3 id="roomName0"></h3>

                            <p id="description0"></p>
                            <ul>
                                <li id="feature10"></li>
                                <li id="feature20"></li>
                                <li id="feature30"></li>
                                <li id="feature40"></li>
                            </ul>
                            <h5 id="noGuests0"></h5>
                            <h5 id="rateNet0"></h5>
                            <p id="tax0"></p>
                            <h4 id="rateGross0"></h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group" id="buttonsDiv0">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="" id="image1" class="card-img-top" alt="Card image cap"/>
                        <div class="card-body">
                            <h3 id="roomName1"></h3>

                            <p id="description1"></p>
                            <ul>
                                <li id="feature11"></li>
                                <li id="feature21"></li>
                                <li id="feature31"></li>
                                <li id="feature41"></li>
                            </ul>
                            <h5 id="noGuests1"></h5>
                            <h5 id="rateNet1"></h5>
                            <p id="tax1"></p>
                            <h4 id="rateGross1"></h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group" id="buttonsDiv1">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="" id="image2" class="card-img-top" alt="Card image cap"/>
                        <div class="card-body">
                            <h3 id="roomName2"></h3>

                            <p id="description2"></p>
                            <ul>
                                <li id="feature12"></li>
                                <li id="feature22"></li>
                                <li id="feature32"></li>
                                <li id="feature42"></li>
                            </ul>
                            <h5 id="noGuests2"></h5>
                            <h5 id="rateNet2"></h5>
                            <p id="tax2"></p>
                            <h4 id="rateGross2"></h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group" id="buttonsDiv2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<script src="/static/scripts/reservation.js"></script>
<footer th:replace="fragments/footer"></footer>
</body>
</html>