<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 offset-md-2">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3 mb-5 border-bottom">
                        <h1 class="h2">Podsumowanie rezerwacji</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-12 offset-md-2 mb-2">
                    <div class="card">
                        <h5 class="card-header d-flex justify-content-between">
                            Szczegóły dokonanej rezerwacji
                            <form action="/auth/guest" method="get">
                                <button type="submit" class="btn btn-secondary">Przejdź do konta</button>
                            </form>
                        </h5>
                        <div class="card-body">
                            <div class="alert alert-info">
                                <h5 class="mb-1"><strong th:text="'Numer Twojej rezerwacji: ' + ${reservationSummary.reservationNumber}"></strong></h5> <br/>
                                Rezerwacja zostanie potwierdzona przez hotel w ciągu 24h
                            </div>
                            <h5 class="card-title" th:text="${reservationSummary.hotel.name}"></h5>
                            <p class="text-left"><strong>Adres:</strong><p th:text="${reservationSummary.hotel.street} + ' ' +  ${reservationSummary.hotel.number} + ', ' + ${reservationSummary.hotel.postCode} + ' ' + ${reservationSummary.hotel.city}"></p></p>
                            <p class="card-text"><strong>Telefon:</strong><p th:text="${reservationSummary.hotel.phoneNumber}"></p></p>
                            <p class="card-text"><strong>Adres email:</strong><p th:text="${reservationSummary.hotel.emailAddress}"></p></p>
                            <p class="card-text"><strong>Data zameldowania:</strong><p th:text="${reservationSummary.checkInDate}"></p></p>
                            <p class="card-text"><strong>Data wymeldowania:</strong><p th:text="${reservationSummary.checkOutDate}"></p></p>
                            <p class="card-text"><strong>Pokój:</strong><p th:text="${reservationSummary.roomTypeName}"></p></p>
                            <p class="card-text"><strong>Całkowity koszt brutto:</strong><p th:text="${reservationSummary.totalGrossCost} + ' PLN'"></p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/footer"></footer>
</body>
</html>