<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/auth/admin/main">
                    <span data-feather="bar-chart-2"></span>
                    Strona główna
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/auth/admin/hotels">
                    <span data-feather="home"></span>
                    Zarządzanie hotelami <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/admin/roomtypes">
                    <span data-feather="file"></span>
                    Zarządzanie pokojami
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/admin/receptionists">
                    <span data-feather="shopping-cart"></span>
                    Zarządzanie recepcjonistami
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/admin/guests">
                    <span data-feather="users"></span>
                    Zarządzanie gośćmi
                </a>
            </li>
        </ul>
    </div>
</nav>

</html>