<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body>

<nav th:replace="fragments/navbar"></nav>
<!-- HotelSearch Section -->
<section id="hotelSearch">
    <div class="jumbotron align-items-center">
        <div class="row mb-4">
            <div class="col-md-6 offset-md-4">
                <h3>Zarezerwuj swój pobyt już dzisiaj!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-4">
                <form th:object="${reservationDto}"
                      th:action="@{/reservation/roomselection}" method="post"> <!--class="d-flex flex-row" -->
                    <div class="form-row">
                        <div class="form-group mr-4" id="checkInGroup">
                            <label for="checkin">Przyjazd</label>
                            <input type="date" th:value="*{checkInDate}" th:field="*{checkInDate}" id="checkin" name="checkin" class="form-control">
                        </div>
                        <div class="form-group mr-4">
                            <label for="checkout">Wyjazd</label>
                            <input type="date" th:value="*{checkOutDate}" th:field="*{checkOutDate}" id="checkout" name="checkout" class="form-control">
                        </div>

                        <div class="form-group mr-4">
                            <label for="location">Lokalizacja</label>
                            <select th:field="*{hotelName}" id="location" class="form-control form-control-sm" name="location">
                                <option th:each="hotelName : ${hotelsNames}"
                                        th:value="${hotelName}"
                                        th:text="${hotelName}">
                                </option>
                            </select>
                        </div>
                        <button id="reservationSubmit" type="submit" class="btn btn-outline-primary btn-sm">Rezerwuj</button> <!-- onclick="ReservationUtils.getRoomSelectionPage()" -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- HotelSearch Section -->
<!-- HotelInfo Section -->
<section id="hotelInfo">
    <div class="container">
       <div class="row">
           <div class="col-md-4">
               <div class="card mb-4 box-shadow">
                   <img class="card-img-top" th:src="@{/static/images/hotel-room2.jpg}" alt="Card image cap">
                   <div class="card-body">
                       <h6>Odkryj nasze wygodne pokoje</h6>
                       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                       <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                               <button type="button" class="btn btn-sm btn-outline-secondary">Sprawdź</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="card mb-4 box-shadow">
                   <img class="card-img-top" th:src="@{/static/images/hotel-breakfast.jpg}" alt="Card image cap">
                   <div class="card-body">
                       <h6>Sprawdź nasze wyśmienite śniadania</h6>
                       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                       <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                               <button type="button" class="btn btn-sm btn-outline-secondary">Sprawdź</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="card mb-4 box-shadow">
                   <img class="card-img-top" th:src="@{/static/images/hotel-amenities.jpg}" alt="Card image cap">
                   <div class="card-body">
                       <h6>Zobacz nasze przepiękne baseny</h6>
                       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                       <div class="d-flex justify-content-between align-items-center">
                           <div class="btn-group">
                               <button type="button" class="btn btn-sm btn-outline-secondary">Sprawdź</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</section>
<!-- <script src="/static/scripts/reservation.js"></script> -->
<!-- HotelInfo Section -->
<script src="/static/scripts/index.js"></script>
<footer th:replace="fragments/footer"></footer>
</body>
</html>